@import "tailwindcss";

::-webkit-scrollbar {
  width: var(--s3);
}

::-webkit-scrollbar-track {
  margin: var(--s1);
}

::-webkit-scrollbar-thumb {
  background-color: #8884;
  border-radius: var(--s1);
}

:root {
  --s1: .25rem;
  --s2: .5rem;
  --s3: .75rem;
  --s4: 1rem;
  --s5: 1.5rem;
  --s6: 2rem;
}

.glow-effect {
  position: relative;
  overflow: hidden;
}

.glow-container {
  position: absolute;
  inset: -10%;
  width: 120%;
  height: 120%;
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.2),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.2s;
}

.glow-effect:hover .glow-container {
  opacity: 1;
}

.no-glow-effect .glow-container {
  position: absolute;
  height: 0;
  width: 0;
  background: none;
  transition: none;
}
